.container {
  font-family: "Spartan", sans-serif;
  margin: 100px auto;
  border: 1px solid #b9cced;
  border-radius: 10px;
  max-width: 1000px;
}

.form-search {
  position: relative;
  left: 500px;
  top: -15px;
}

.search-bar,
.submit-button {
  background-color: #fbf4f9;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

button {
  background-color: #fbf4f9;
  color: gray;
  border: none;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  left: 500px;
  top: 80px;
}

h1 {
  text-align: center;
  font-weight: thin;
  font-size: 50px;
  margin-top: 50px;
  color: #f6e5f5;
}

.row {
  text-align: center;
  margin: 20px 20px;
}

.card,
.card-body {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background: transparent;
}
h5 {
  margin-top: -20px;
  font-size: 30px;
}

h6 {
  font-size: 20px;
  font-weight: thin;
}

.current-temp,
.current-date,
.condition-comment1,
.condition-comment2 {
  font-size: 20px;
  color: #b9cced;
}

.current-humidity,
.current-wind {
  font-size: 18px;
  color: #b9cced;
}

.current-icon {
  size: 1000px;
}

.current-date,
.condition-comment2 {
  margin-bottom: 50px;
}
.credit {
  color: #f6e5f5;
  text-decoration: none;
  font-size: 10px;
}
.credit {
  text-align: center;
}
a:hover {
  color: antiquewhite;
}
